.edit-note {
   padding: $padding-section;

   input,
   textarea {
      display: block;
      border: none;
      border-radius: 2px;
      color: $c-black-matte;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      width: 100%;
      padding: 1rem;

      &:focus {
         outline: none;
      }
   }

   textarea {
      resize: none;
      margin-top: 2rem;
   }
}