// Fonts
$font-primary: "Fira Sans", sans-serif; // 400, 500, 600, 700

// Text Sizes
$font-m: 1.6rem;
$font-s: 1.3rem;

// Colors
$c-black-matte: #252525;
$c-green-dark: #195159;
$c-green-leaf: #85a621;
$c-white: #fff;

// Paddings & Margins
$padding-main: 4rem 0 5rem 0;
