// Fonts
$font-primary: 'Fira Sans', sans-serif; // 400, 500, 600, 700

// Text Sizes
$font-m: 1.6rem;
$font-s: 1.3rem;

// Colors
$c-black-matte: #252525;
$c-green-dark: #174a51;
$c-mustard: #fd7014;
$c-white: #fff;

// Paddings
$padding-section: 4rem 0 5rem 0;