// Global Styles
*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-kerning: auto;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body {
   background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
   color: $c-white;
   font-family: $font-primary;
   line-height: 1.5;
   min-height: 100vh;
}

h1 {
   font-size: $h1;
}
// h2 {
//    font-size: $h2;
// }
h3 {
   font-size: $h3;
}

div, span, h4, p, a, li, button, label, input {
   font-size: $font-m;
   // font-weight: 600;
}

ul {
   list-style: none;
}

a {
   // color: $c-black;
   text-decoration: none;
}

button {
   cursor: pointer;
   color: inherit;
   font-family: inherit;
   outline: none;
}
