// Utility Classes
.container {
   width: 90%;
   max-width: 600px;
   margin: 0 auto;
}

.btn-wrapper {
   text-align: center;
   margin-top: 5rem;

   .primary-btn {
      background-color: $c-green-dark;
      border: none;
      border-radius: 2px;
      display: inline-flex;
      align-items: center;
      transition: all 0.4s ease-in-out;
      padding: 1rem;

      &:hover {
         background-color: lighten($c-green-dark, 10%);
      }

      span {
         margin-right: 1rem;
      }
   }
}